{% extends "layout.html" %}

{% block title %}Error - Avícola San Martín{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">
                <i class='bx bxs-error-circle'></i> Oops... Algo salió mal
            </h4>
            <p>{{ error }}</p>
            <hr>
            <p class="mb-0">
                <a href="{{ url_for('main.index') }}" class="btn btn-primary">
                    <i class='bx bx-home'></i> Volver al Inicio
                </a>
                <a href="javascript:history.back()" class="btn btn-secondary">
                    <i class='bx bx-arrow-back'></i> Volver Atrás
                </a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
